In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df_train = pd.read_csv('train_1.csv')
df_train

       User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0              1000001,P00069042,F,0-17,10,A,2,0,3,,,8370
1          1000001,P00248942,F,0-17,10,A,2,0,1,6,14,15200
2             1000001,P00087842,F,0-17,10,A,2,0,12,,,1422
3           1000001,P00085442,F,0-17,10,A,2,0,12,14,,1057
4              1000002,P00285442,M,55+,16,C,4+,0,8,,,7969
...                                                   ...
550063        1006033,P00372445,M,51-55,13,B,1,1,20,,,368
550064         1006035,P00375436,F,26-35,1,C,3,0,20,,,371
550065       1006036,P00375436,F,26-35,15,B,4+,1,20,,,137
550066           1006038,P00375436,F,55+,1,C,2,0,20,,,365
550067        1006039,P00371644,F,46-50,0,B,4+,1,20,,,490

[550068 rows x 1 columns]

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 1 columns):
 #   Column                                                                                                                                                              Non-Null Count   Dtype
---  ------                                                                                                                                                              --------------   -----
 0   User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase  550068 non-null  object
dtypes: object(1)
memory usage: 4.2+ MB